body {
  background: #f0f0f0;
  font-size: 14px;
  font-family: "Segoe UI";
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.bg-color-red {
  background-color: #ff3300;
}

.form-control:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header {
  background-color: #ff3300;
  -webkit-box-shadow: rgba(50, 50, 50, 0.33) 0px 5px 7px 0px;
          box-shadow: rgba(50, 50, 50, 0.33) 0px 5px 7px 0px;
}

.search {
  position: relative;
}

.search input {
  border: none;
}

.search::after {
  font-family: "FontAwesome";
  content: "\f002";
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 25px;
  height: 100%;
}

.menuHeader {
  background-color: #fff;
}

.menuHeader .fa::before {
  font-size: 30px;
}

.menuHeader p {
  margin-bottom: 0 !important;
}

.pointer {
  cursor: pointer;
}

.megamenu-li {
  position: static;
}

.megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
}

.navbar {
  padding: 0;
}

.navbar .nav-link {
  padding: 5px 10px;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.navbar .active .nav-p {
  color: #ff3300;
}

.navbar .nav-p {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  font-weight: 500;
}

.navbar .nav-item {
  margin-right: 0.5rem;
}

.navbar .nav-item:hover .nav-p {
  color: #ff3300;
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
}

.slick-next:before {
  content: "\f105";
}

.slick-prev:before {
  content: "\f104";
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
  font-family: "FontAwesome";
  display: block;
  position: static;
  background-color: transparent;
  line-height: 48px;
  width: 100%;
  font-size: 40px;
  opacity: 1;
}

.slick-prev,
.slick-next {
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.slickOption:hover .slick-prev,
.slickOption:hover .slick-next {
  display: block;
}

.img-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-16-9 {
  position: relative;
}

.img-16-9:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}

.img-16-9 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-3-4 {
  position: relative;
}

.img-3-4:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 133.33333%;
}

.img-3-4 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-1-1 {
  position: relative;
}

.img-1-1:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.img-1-1 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.linkHomeBoxNews:hover .titleBoxNews {
  color: #ff3300;
}

.homeBoxNews {
  border-bottom: 1px solid #efefef;
  background: #fff;
}

.homeBoxNews .infoBoxNewsHome {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeBoxNews .titleBoxNews {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 36.4px;
  /* Fallback for non-webkit */
  font-size: 14px;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  margin-bottom: 0;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.homeBoxNews .postDateTime {
  font-size: 12px;
  color: #999;
}

.headerTitleNews {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #efefef;
  background: #fff;
}

.headerTitleNews p {
  float: left;
  padding: 10px 20px 10px 10px;
  background: #f30;
  line-height: 1.3em;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 0;
}

.nameProductInHomeHot {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 18.2px;
  /* Fallback for non-webkit */
  font-size: 14px;
  line-height: 1.3;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
/*# sourceMappingURL=bundle.css.map */