body {
  font-size: 14px;
  font-family: "Segoe UI";
}

.bgFooter {
  background-color: #f0f0f0;
}

.bgWhite {
  background-color: #fff;
}

.bgContent {
  background: #f0f0f0;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.col-lg-25 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 20% !important;
          flex: 0 0 20% !important;
  max-width: 20% !important;
  position: relative;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}

a {
  display: block;
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:focus {
  outline: 0;
}

.bg-color-red {
  background-color: #ff3300;
}

.form-control:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header {
  background-color: #ff3300;
  -webkit-box-shadow: rgba(50, 50, 50, 0.33) 0px 5px 7px 0px;
          box-shadow: rgba(50, 50, 50, 0.33) 0px 5px 7px 0px;
}

.search {
  position: relative;
}

.search input {
  border: none;
}

.search::after {
  font-family: "FontAwesome";
  content: "\f002";
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 25px;
  height: 100%;
}

.menuHeader {
  background-color: #fff;
}

.menuHeader .fa::before {
  font-size: 30px;
}

.menuHeader p {
  margin-bottom: 0 !important;
}

.pointer {
  cursor: pointer;
}

.megamenu-li {
  position: static;
}

.megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
}

.navbar {
  padding: 0;
}

.navbar .nav-link {
  padding: 5px 10px;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.navbar .active .nav-p {
  color: #ff3300;
}

.navbar .nav-p {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  font-weight: 500;
}

.navbar .nav-item {
  margin-right: 0.5rem;
}

.navbar .nav-item:hover .nav-p {
  color: #ff3300;
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
}

.slick-next:before {
  content: "\f105";
}

.slick-prev:before {
  content: "\f104";
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
  font-family: "FontAwesome";
  display: block;
  position: static;
  background-color: transparent;
  line-height: 48px;
  width: 100%;
  font-size: 40px;
  opacity: 1;
}

.slick-prev,
.slick-next {
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.pl-lg-075 {
  padding-left: 0.75rem !important;
}

.slickOption:hover .slick-prev,
.slickOption:hover .slick-next {
  display: block;
}

.img-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-16-9 {
  position: relative;
}

.img-16-9:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}

.img-16-9 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-3-4 {
  position: relative;
}

.img-3-4:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 133.33333%;
}

.img-3-4 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-1-1 {
  position: relative;
}

.img-1-1:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.img-1-1 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.linkHomeBoxNews:hover .titleBoxNews {
  color: #ff3300;
}

.homeBoxNews {
  border-bottom: 1px solid #efefef;
  background: #fff;
}

.homeBoxNews .infoBoxNewsHome {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeBoxNews .titleBoxNews {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 36.4px;
  /* Fallback for non-webkit */
  font-size: 14px;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  margin-bottom: 0;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.homeBoxNews .postDateTime {
  font-size: 12px;
  color: #999;
}

.headerTitleNews {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #efefef;
  background: #fff;
}

.headerTitleNews p {
  float: left;
  padding: 10px 20px 10px 10px;
  background: #f30;
  line-height: 1.3em;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 0;
}

.nameProductInHomeHot {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 18.2px;
  /* Fallback for non-webkit */
  font-size: 14px;
  line-height: 1.3;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

#footer .footerSubscribe .form-control {
  font-size: 14px;
}

#footer .footerSubscribe .form-control:focus {
  border-color: #f30;
}

#footer input {
  border-right: none;
  height: 40px;
}

#footer .inputGroupBtn {
  white-space: nowrap;
}

#footer .list-menu {
  margin-bottom: 15px;
  line-height: 1.71429em;
}

#footer .footerSocial ul li {
  margin-right: 0.75rem;
}

#footer .footerSocial ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  color: #fff;
  background-color: #e5e5e5;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  position: relative;
}

#footer .footerSocial .twitter a {
  background-color: #1da1f2;
}

#footer .footerSocial .facebook a {
  background-color: #3b5998;
}

#footer .footerSocial .pinterest a {
  background-color: #bd081c;
}

#footer .footerSocial .google a {
  background-color: #dd4b39;
}

#footer .footerSocial .instagram a {
  background-color: #1e88e5;
}

.btn.btnDefault {
  background-color: #f30;
  color: #fff;
  border: 1px solid #f30;
  height: 40px;
  border-radius: 0;
}

.btn.btnPlus {
  background-color: transparent;
  font-size: 22px;
}

.btn.btnCheck {
  background-color: #f30;
  height: 52px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px 30px;
  font-size: 16px;
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.overNewsContent {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 2rem;
  color: #fff;
}

.overNewsContent h4 {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 1.95rem;
  /* Fallback for non-webkit */
  font-size: 1.5rem;
  line-height: 1.3;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.titleBoxItem {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 1.625rem;
  /* Fallback for non-webkit */
  font-size: 1.25rem;
  line-height: 1.3;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.featuredNews {
  overflow: hidden;
}

.featuredNews .img-background {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.featuredNews .overNewsContent {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.featuredNews:hover .img-background:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.featuredNews:hover .overNewsContent {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.blogLaterNews h2 {
  background-color: #f30;
  font-size: 16px;
  color: #fff;
  padding: 0.5rem;
  font-weight: 500;
  border-radius: 0.15rem;
}

.blogLaterNews .timePost {
  color: #aaa;
}

.blogLaterNews .shortDescription {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 54.6px;
  /* Fallback for non-webkit */
  font-size: 14px;
  line-height: 1.3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.vue-star-rating-star {
  line-height: 0;
}

.color-red {
  color: #f30;
}

.zoomerContainer {
  width: 400px !important;
  height: 100% !important;
}

.zoomerContainer .thumb-list {
  -ms-grid-columns: calc(100% / 4 / 4) (auto)[5] calc(100% / 1 / 1) !important;
      grid-template-columns: calc(100% / 4 / 4) repeat(5, auto) calc(100% / 1 / 1) !important;
  height: 90px !important;
}

.zoomerContainer .thumb-list img {
  width: 50px !important;
}

.zoomerContainer img {
  width: 400px !important;
}

.zoomerContainer .zoomer-control {
  display: none !important;
}

.text-decoration {
  text-decoration: line-through;
}

.color-green {
  color: #30a43b !important;
}

p {
  margin-bottom: 0.5rem !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.customRadio [type="radio"]:checked,
.customRadio [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.customRadio [type="radio"]:checked + label,
.customRadio [type="radio"]:not(:checked) + label {
  position: relative;
  cursor: pointer;
  width: 55px;
  height: 35px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
}

.customRadio [type="radio"]:checked + label:before,
.customRadio [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 0;
}

.customRadio [type="radio"]:checked + label:after,
.customRadio [type="radio"]:not(:checked) + label:after {
  content: "";
  background: url("https://bizweb.dktcdn.net/100/348/133/themes/709285/assets/select-pro.png?1559638811340") no-repeat;
  background-position: bottom right;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 1px solid red;
}

.customRadio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.customRadio [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.totalProduct {
  border-radius: 4px;
  border: 1px solid #ebebeb;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  widows: 60% !important;
}

.full-description img {
  max-width: 100%;
  width: 100%;
}

.detailProduct .el-tabs__item {
  text-transform: uppercase;
  color: #aaa;
}

.detailProduct .el-tabs__item.is-active {
  color: #222;
}

.detailProduct .el-tabs__active-bar {
  background-color: #222;
}

.titleCategoryProduct {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.titleCategoryProduct:hover {
  color: #f30;
}

.itemCategoryProduct {
  font-size: 14px;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  line-height: 1.7;
}

.itemCategoryProduct:hover {
  color: #f30;
}

.postByTitle {
  font-size: 12px;
  color: #b2b2b2;
  margin: 8px 0;
}

.shortDesNews {
  font-size: 17px;
  font-weight: 500;
}

iframe {
  border-width: 0;
}
/*# sourceMappingURL=Style.css.map */