@import "./mixins";
@import "./variables";

@include scrollbars(0.5em, slategray);

body {
  font-size: 14px;
  font-family: "Segoe UI";
}

.bgFooter {
  background-color: #f0f0f0;
}

.bgWhite {
  background-color: #fff;
}

.bgContent {
  background: #f0f0f0;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.col-lg-25 {
  flex: 0 0 20% !important;
  max-width: 20% !important;
  position: relative;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.img-small {
  object-position: center;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.color-white {
  color: #fff !important;
}

a {
  display: block;
  color: #000;

  &:hover {
    color: #000;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.bg-color-red {
  background-color: #ff3300;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

.header {
  background-color: #ff3300;
  box-shadow: rgba(50, 50, 50, 0.33) 0px 5px 7px 0px;
}

.search {
  position: relative;

  input {
    border: none;
  }

  span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 25px;
    height: 100%;
  }
}

.menuHeader {
  background-color: #fff;

  .fa {
    &::before {
      font-size: 30px;
    }
  }

  p {
    margin-bottom: 0 !important;
  }
}

.pointer {
  cursor: pointer;
}

.megamenu-li {
  position: static;
}

.megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
}

.navbar {
  padding: 0;

  .nav-link {
    padding: 5px 10px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
  }

  .active {
    .nav-p {
      color: #ff3300;
    }
  }

  .nav-p {
    transition: all ease 0.2s;
    font-weight: 500;
  }

  .nav-item {
    margin-right: 0.5rem;

    &:hover {
      .nav-p {
        color: #ff3300;
      }
    }
  }
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
}

.slick-next:before {
  content: "\f105";
}

.slick-prev:before {
  content: "\f104";
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
  font-family: "FontAwesome";
  display: block;
  position: static;
  background-color: transparent;
  line-height: 48px;
  width: 100%;
  font-size: 40px;
  opacity: 1;
}

.slick-prev,
.slick-next {
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.pl-lg-075 {
  padding-left: 0.75rem !important;
}
.mb-75{
  margin-bottom: 0.75rem !important;
}

.slickOption {
  &:hover {
    .slick-prev,
    .slick-next {
      display: block;
    }
  }
}

.img-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-16-9 {
  @include aspect-ratio(16, 9);
}

.img-3-4 {
  @include aspect-ratio(3, 4);
}

.img-370-102 {
  @include aspect-ratio(370, 102);
}

.img-18-9 {
  @include aspect-ratio(18, 9);
}

.img-1-1 {
  @include aspect-ratio(1, 1);
}

.titleReview {
  font-size: 1.125rem;
}

.linkHomeBoxNews {
  &:hover {
    .titleBoxNews {
      color: #ff3300;
    }
  }
}

.fontSiteUserIcon {
  font-size: 28px;
}

.homeBoxNews {
  border-bottom: 1px solid #efefef;
  background: #fff;

  .infoBoxNewsHome {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .titleBoxNews {
    @include ellips-text(14px, 1.3, 2);
    font-weight: 600;
    margin-bottom: 0;
    transition: all ease 0.2s;
  }

  .postDateTime {
    font-size: 12px;
    color: #999;
  }
}

.headerTitleNews {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #efefef;
  background: #fff;

  p {
    float: left;
    padding: 10px 20px 10px 10px;
    background: #f30;
    line-height: 1.3em;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: 0;
  }
}

.nameProductInHomeHot {
  @include ellips-text(14px, 1.3, 1);
  font-weight: 500;
}

#footer {
  .footerSubscribe {
    .form-control {
      font-size: 14px;

      &:focus {
        border-color: #f30;
      }
    }
    .el-input__inner {
      border-radius: 0;
    }
    .el-form-item__content {
      line-height: 0;
    }
    .el-input {
      width: 100%;
    }
    .el-form {
      display: flex;
    }

    .email {
      width: 100%;
    }
  }

  input {
    border-right: none;
    height: 40px;
  }

  .inputGroupBtn {
    white-space: nowrap;
  }

  .list-menu {
    margin-bottom: 15px;
    line-height: 1.71429em;
  }

  .footerSocial {
    ul {
      li {
        margin-right: 0.75rem;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
          color: #fff;
          background-color: #e5e5e5;
          border-radius: 50%;
          text-align: center;
          line-height: 40px;
          position: relative;
        }
      }
    }

    .twitter a {
      background-color: #1da1f2;
    }

    .facebook a {
      background-color: #3b5998;
    }

    .pinterest a {
      background-color: #bd081c;
    }

    .google a {
      background-color: #dd4b39;
    }

    .instagram a {
      background-color: #1e88e5;
    }
  }
}

.btn {
  &.btnDefault {
    background-color: #f30;
    color: #fff;
    border: 1px solid #f30;
    height: 40px;
    border-radius: 0;
  }

  &.btnSendContact {
    line-height: 1.3;
    background-color: #f30;
    color: #fff;
    border: 1px solid #f30;
    height: 40px;
    border-radius: 999px;
    font-size: 14px;
    padding: 10px 20px;
  }

  &.btnSendReview {
    line-height: 1.3;
    background-color: #f30;
    color: #fff;
    border: 1px solid #f30;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.btnPlus {
    background-color: transparent;
    font-size: 22px;
  }

  &.btnCheck {
    background-color: #f30;
    height: 52px;
    box-shadow: none;
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:focus {
    box-shadow: none;
  }
}

.overNewsContent {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 2rem;
  color: #fff;
  h4 {
    @include ellips-text(1.5rem, 1.3, 1);
    max-width: 100%;
  }
}

.titleBoxItem {
  @include ellips-text(1.25rem, 1.3, 1);
  max-width: 100%;
}

.featuredNews {
  overflow: hidden;

  .img-background {
    transform: scale(1);
    transition: transform 0.4s ease;
  }

  .overNewsContent {
    transform: translateY(0);
    transition: transform 0.4s ease;
  }

  &:hover {
    .img-background {
      &:hover {
        transform: scale(1.12);
      }
    }

    .overNewsContent {
      transform: translateY(-10px);
    }
  }
}

.blogLaterNews {
  h2 {
    background-color: #f30;
    font-size: 16px;
    color: #fff;
    padding: 0.5rem;
    font-weight: 500;
    border-radius: 0.15rem;
  }

  .timePost {
    color: #aaa;
  }

  .shortDescription {
    @include ellips-text(14px, 1.3, 3);
    max-width: 100%;
  }
}

.vue-star-rating-star {
  line-height: 0;
}

.color-red {
  color: #f30;
}

.color-black {
  color: #000 !important;
}

.color-black-1 {
  color: #36424b !important;
}

.zoomerContainer {
  width: 400px !important;
  height: 100% !important;
  .thumb-list {
    grid-template-columns: calc(100% / 4 / 4) repeat(5, auto) calc(100% / 1 / 1) !important;
    height: 90px !important;
    img {
      width: 50px !important;
    }
  }
  img {
    width: 400px !important;
  }

  .zoomer-control {
    display: none !important;
  }
}
.text-decoration {
  text-decoration: line-through;
}

.color-green {
  color: #30a43b !important;
}

p {
  margin-bottom: 0.5rem !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.customRadio {
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    cursor: pointer;
    width: 55px;
    height: 35px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 0;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: "";
    background: url("https://bizweb.dktcdn.net/100/348/133/themes/709285/assets/select-pro.png?1559638811340") no-repeat;
    background-position: bottom right;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 1px solid red;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.totalProduct {
  .el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled), .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
    border-color: #DCDFE6 !important;
  }
  .el-input-number__decrease, .el-input-number__increase {
    height: 50px;
    background: #fff !important;
    border: 0;
    &:hover{
      outline: none !important;
      color: #000;
    }
    
  }
  .el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: #DCDFE6;
    outline: 0;
  }
  .el-input__inner{
    height: 52px !important;
    line-height: 52px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0;
  }
  .el-input-number {
    line-height: 52px !important;
    width: 150px;
    &:focus{
      outline: none !important;
    }
  }
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.full-description {
  img {
    max-width: 100%;
    width: 100%;
  }
}

.detailProduct {
  .el-tabs__item {
    text-transform: uppercase;
    color: #aaa;
    &.is-active {
      color: #222;
    }
  }
  .el-tabs__active-bar {
    background-color: #222;
  }
}

.titleCategoryProduct {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.4s ease all;
  &:hover {
    color: #f30;
  }
}

.itemCategoryProduct {
  font-size: 14px;
  transition: 0.4s ease all;
  line-height: 1.7;
  &:hover {
    color: #f30;
  }
}

.postByTitle {
  font-size: 12px;
  color: #b2b2b2;
  margin: 8px 0;
}
.shortDesNews {
  font-size: 17px;
  font-weight: 500;
}

iframe {
  border-width: 0;
}

.contact {
  .infoContact {
    color: #666666;
  }
  .el-form-item__label {
    font-weight: 700;
    &:before {
      display: none;
    }
    &:after {
      content: "*";
      color: #f56c6c;
      margin-left: 4px;
    }
  }
}

.textContact {
  color: #707e89;
}

.el-form-item__label {
  text-align: left;
  float: none;
  line-height: 30px;
}

.titleCommentReview {
  color: #999;
  font-weight: 500;
  padding-left: 16px;
}

.createDateReview {
  padding-top: 0.2rem;
}

.vld-overlay .vld-background {
  bottom: 50% !important;
  left: 50% !important;
}

.customRadio{
  .el-radio-button__inner{
    border: 1px solid #ccc !important;
    background-color: #fff;
    color: #363f4d;
    padding: 0.75rem 0.5rem;
    border-radius: 0 !important;
    margin-right: 0.5rem;
    font-weight: normal !important;
    &::after{
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 14px;
      height: 14px;
      background-repeat: no-repeat;
      background-image: url('https://bizweb.dktcdn.net/100/348/133/themes/709285/assets/select-pro.png?1574671143138');
    }
  }

  .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    border: 1px solid #ccc !important;
    background-color: #fff;
    color: #363f4d !important;
    border-color: #e6484a !important;
    -webkit-box-shadow: -1px 0 0 0 #409EFF;
    box-shadow: -1px 0 0 0 #409EFF;
  }
}

.shopName{
  color: #1f9cd0;
}

.h-100vh{
  height: 100vh;
}

.boxShadow-none{
  box-shadow:none !important;
}

.payment{
  box-shadow: 0 0 0 1px #d9d9d9;
  border-radius: 4px;
  .contentBackground{
    background-color: #f8f8f8;
    padding: 1.3em;
    border-radius: 4px;
  }
}

.bgOrder{
  background-color: #f8f8f8;
  border-left: 1px solid #e1e1e1;
}

.orderCheckoutBtnApply{
  color: #fff;
  background-color: #357ebd;
  border-color: #2f71a9;
  &:hover{
    color: #fff;
    background-color: #357ebd;
    border-color: #2f71a9;
  }
  &:focus{
    outline: none;
  }
}

.wrap{
  // background-color: #f8f8f8;
  .el-form-item__error{
    padding-top: 5px;
  }
  .promotionCode{
    .el-form-item__content{
      display: flex;
      align-items: center;
      .el-input{
        padding-right: 0.5rem;
        input{
          height: 35px !important;
        }
      }
      .promotionCodeBtn{
        height: 35px !important;
        padding: 0.25rem 0.75rem !important;
        color: #fff;
        background-color: #357ebd;
        border-color: #2f71a9;
        &:focus{
          outline: none;
        }
      }
    }
  }
  .el-form-item__content{
    margin-left: 0 !important;
    .el-input{
      input{
        height: 44px !important;
      }
    }
    .el-select{
      width: 100%;
      .el-select__tags{
        max-width: 100% !important;
      }
    }
    .el-checkbox__inner{
      width: 20px !important;
      height: 20px !important;
      border-radius: 4px;
    }
    .el-checkbox__label{
      color: #737373 !important;
      font-weight: 400;
    }
  }
  .transport{
    box-shadow: 0 0 0 1px #d9d9d9;
    border-radius: 4px;
    margin-bottom: 1.75rem;
    .payment-icon-fa {
      font-size: 22px;
      color: #1990c6;
      margin-right: 15px;
      line-height: 0.6;
    }
    .el-form-item__content{
      padding: 1.3em 1.3em 0.4em 1.3em;
      position: relative;
      .el-radio__inner{
        width: 17px !important;
        height: 17px !important;
      }

      .el-radio {
        display: flex;
        margin-bottom: 0.75rem !important;
        margin-right: 0 !important;
          &.is-checked{
            .el-radio__inner{
              border-color: #337ab7;
              background: #337ab7;
            }
            .el-radio__label{
              color: #737373 !important;
            }
        }

        .el-radio__label{
          width: 100%;
          display: flex;
          justify-content: space-between;
          color: #4d4d4d !important;
        }
      }
    }
  }
}
.cartDialog{
  .el-dialog__header{
    border: 1px solid #e5e5e5;
    padding: 10px 20px 10px 10px;
    .el-dialog__title{
      font-size: 14px !important;
      font-weight: bold;
    }
    .el-dialog__headerbtn{
      width: 25px;
      height: 25px;
      background-color: #000000;
      border-radius: 50%;
      top: -14px;
      right: -12px;
      .el-dialog__close {
        color: #f30;
        font-weight: 700;
      }
    }
  }
  .el-dialog__body{
    padding: 10px 10px;
  }
  .el-input-number{
    display: inline-block;
    width: 90px;
    line-height: 27px;
    .el-input-number__decrease {
      border-radius: 2px 0 0 2px;
    }
    .el-input-number__increase {
      right: 1px;
      border-radius: 0 2px 2px 0;
    }
    .el-input-number__decrease, .el-input-number__increase {
      top: 1px;
      width: 30px;
      height: 25px;
      background-color: #fff !important;
      color: #999 !important;
    }
    .el-input-number__decrease:hover, .el-input-number__increase:hover {
      color: #999;
    }
    .el-input__inner{
      border-color: #e5e5e5 !important;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 2px;
      height: 27px;
      line-height: 40px;
    }
    .el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled), .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
      border-color: #e5e5e5;
    }
  }
}



.shoppingCartItem{
  border-top: 1px solid #e5e5e5;
  
  .el-input-number{
    display: inline-block;
    width: 100px;
    line-height: 30px;
    .el-input-number__decrease {
      border-radius: 2px 0 0 2px;
    }
    .el-input-number__increase {
      right: 1px;
      border-radius: 0 2px 2px 0;
    }
    .el-input-number__decrease, .el-input-number__increase {
      top: 1px;
      width: 32px;
      height: 28px;
      background-color: #fff !important;
      color: #999 !important;
    }
    .el-input-number__decrease:hover, .el-input-number__increase:hover {
      color: #999;
    }
    .el-input__inner{
      border-color: #e5e5e5 !important;
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 2px;
      height: 30px;
      line-height: 40px;
    }
    .el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled), .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
      border-color: #e5e5e5;
    }
  }
}

.shoppingCartItem:first-child{
  border-top: 1px solid transparent !important;
}
